.category-accordion {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.category-accordion-item {
  color: #1f2640;
  margin-bottom: 1rem;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.category-accordion-header {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 14px;
  line-height: 151%;
  color: #222325;
  background: none;
  padding: 0; 
  margin-bottom: 10px;
}

.category-accordion-body {
  display: none; 
  flex-direction: column;
  gap: 10px;
}

.category-accordion-body a{
    font-size: 14px;
    font-family: var(--font3);
    line-height: 151%;
    color: #222325;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.category-accordion-body a .subcategory-service-num{
    color: #8c94a3;
    font-size: 12px;
}

.category-accordion-body a:hover{
    color: #177de5;
}

.category-accordion-body a:hover .subcategory-service-num{
    color: #4e5566;
    font-weight: 500;
}

.category-accordion-header.active + .category-accordion-body {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadbdd;;
}

.category-accordion-header.active{
    font-weight: 700;
}

.category-accordion-header .plus {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  aspect-ratio: 1/1;
  width: 24px;
}

.category-accordion-header.active .plus {
  transform: rotate(-180deg); /* превращаем "+" в "×" */
}

.category-accordion-header img{
    width: 100%;
}
/*END OF ACCORDION BLOCK*/




@media (max-width: 768px) {
    .category-accordion-header {
        font-size: 14px;
    }
    
    .category-accordion-body a{
        font-size: 14px;
    } 
}


@media (max-width: 576px) {
    .category-accordion-header {
        font-size: 14px;
    }
    
    .category-accordion-body a{
        font-size: 14px;
    } 
}



@media (max-width: 375px) {
    .category-accordion-header {
        font-size: 14px;
    }
    
    .category-accordion-body a{
        font-size: 14px;
    } 
}
