/*:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Plus Jakarta Sans", sans-serif;
  --font4: "Montserrat", sans-serif;
  --font5: "Tajawal", sans-serif;
  --font6: "Nunito", sans-serif;
  --font7: "SF Pro Text", sans-serif;
}*/

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Wix Madefor Text", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Poppins", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Manrope", sans-serif;
  --font6: "DM Sans", sans-serif;
  --font7: "Plus Jakarta Sans", sans-serif;
  --font8: "Noto Sans", sans-serif;
  --font9: "SF UI Text", sans-serif;
  --font10: "Tajawal", sans-serif;
  --font11: "SF Pro Text", sans-serif;
  --font12: "Montserrat", sans-serif;
  --font13: "Outfit", sans-serif;
}


*{
    box-sizing: border-box;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input:hover,
input:focus,
input:active,
input:valid {
  border: none;
  outline: none;
  box-shadow: none;fr
}

.main-block{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
}

.main-container{
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
}


.freelancer-profile-block{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 60px;
}

.freelancer-reviews-container{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    padding: 20px;
    padding-top: 30px;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
}


.freelancer-avatar-stars-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #efeff0;
}

.freelancer-avatar-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.freelancer-avatar-name-container .freelancer-name{
    font-family: var(--font8);
    font-weight: 600;
    font-size: 17px;
    line-height: 148%;
    text-align: center;
    color: #000;
    margin: 0;
    padding: 0;
}

.freelancer-stars-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.freelancer-stars-container .yellow-star-icon{
    width: 14px;
}

.freelancer-stars-container p{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 175%;
    color: #ffbe5b;
    margin: 0;
    padding: 0;
}

.freelancer-stars-container p .reviews-count{
    font-weight: 400;
    color: #b5b6ba;
}

.freelancer-avatar-name-container .img-container{
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.freelancer-avatar-name-container .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

/*progressbar-container*/
.freelancer-progressbar-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efeff0;
}

.freelancer-progress{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.freelancer-progress p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #404145;
    margin: 0;
    padding: 0;
}

.freelancer-progress .progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.freelancer-progress .progress-bar {
  width: 60px;
  max-width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8px;
}

.freelancer-progress .progress-fill {
  height: 100%;
  background-color: #22c55e; /* зелёный */
  border-radius: 10px;
}


.freelancer-progress .progress-fill.green{
    background-color: #22c55e; 
}

.freelancer-progress .progress-fill.orange{
    background-color: orange;
}

.freelancer-progress .progress-fill.red{
    background: #e45865;
}

.freelancer-progress .progress-text {
    font-size: 14px;
    color: #4b5563; /* серый цвет */
    width: 40px;
    max-width: 100%;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    text-align: right;
    color: #62646a;
}


.receive-orders-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.tooltip-container {
    position: relative; /* Создаем контекст для абсолютного позиционирования подсказки */
    cursor: help; /* Меняем курсор на знак вопроса */
}

.tooltip-text {
    visibility: hidden;
    opacity: 0; 
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; 
    background-color: #fefefe;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.06);
    color: #111;
    text-align: left;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    white-space: normal;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text h4,
.tooltip-text p{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#tooltipGraph {
    position: absolute;
    padding: 6px 10px;
    background: #fff;
    color: #111;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.15s;
    z-index: 9999;
    white-space: nowrap;
}


.receive-orders-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #62646a;
}

.receive-orders-text img{
    width: 12px;
}

.receive-orders-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.receive-orders-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.receive-orders-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.receive-orders-container .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.receive-orders-container input:checked + .slider {
  background-color: #04b70a; /* Красный цвет, как на картинке */
}

.receive-orders-container input:checked + .slider:before {
  transform: translateX(32px);
}

/*end of progressbar-container*/

/*ai-agent-container*/
.ai-agent-container{
    margin-top: 20px;
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 16px 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
} 

.ai-agent-text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #111;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.ai-agent-text img{
    width: 16px;
}

.ai-agent-container .img-container{
    width: 32px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: rgba(69, 126, 219, 0.04);;
    overflow: hidden;
}

.ai-agent-container .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*end of ai-agent-container*/

/*freelancer-activities-container*/
.freelancer-activities-container{
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 20px;
}

span.new{
    border-radius: 36px;
    padding: 2px 10px;
    min-width: 59px;
    min-height: 22px;
    background: #e8ffe5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font6);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #04b70a;
    position: absolute;
    top: -12px;
}

.freelancer-activities-container figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    cursor: pointer; 
    position: relative;
}

.freelancer-activities-container figcaption{
    font-family: var(--font8);
    font-weight: 400;
    font-size: 11px;
    line-height: 200%;
    text-align: center;
    color: #51382f;
}
/*end of freelancer-activities-container*/

/*freelancer-messages-container*/
.freelancer-messages-container{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

.freelancer-messages-header{
    border-bottom: 1px solid #efeff0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freelancer-messages-header h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #111;
    margin: 0;
    padding: 0;
}

.freelancer-messages-header a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #177de5;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.freelancer-messages-content{
    padding: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.freelancer-message{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 45px 1fr;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}

.freelancer-message .user-messaging-avatar{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
}

.freelancer-message .user-messaging-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.user-messaging-data{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.user-messaging-username-and-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.user-messaging-username-and-date h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #333;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.user-messaging-username-and-date span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-align: right;
    color: #8a8a8a;
    margin: 0;
    padding: 0;
}

.user-message-and-num{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
}

.user-message-and-num .message{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #333;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.user-message-and-num .message-num-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
} 
.user-message-and-num .message-num{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #04b70a;
    padding: 4px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 109%;
    text-align: center;
    color: #fff;
    width: 16px;
    height: 16px;
}
/*end of freelancer-messages-container*/

/*my-orders-block*/
.freelancer-details-container{
    width: 100%;
    overflow: hidden;
}
.my-orders-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}


.my-orders-container, .my-goods-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 247%;
    color: #222325;
}

.my-orders-container .sum-overview, .my-goods-container .active-overview{
    color: #95979d;    
}

.my-orders-block .see-more-container, .my-goods-block .see-more-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #62646a;
    cursor: pointer;
}

.my-orders-block .see-more-container img, .my-goods-block .see-more-container{
    width: 10px;
    cursor: pointer;
}
/*end of my-orders-block*/

/*year-sellings-block*/
.year-sellings-block{
    margin-top: 20px;
    margin-top: 30px;
}

.year-sellings-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.year-sellings-header h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #62646a;
    margin: 0;
    padding: 0;
}

.year-sellings-header h2{
    flex-shrink: 0;
}

.year-sellings-header .line{
    flex: 1;
    width: 100%;
    border-top: 2px solid #dadbdd;
    height: 2px;
}


/*Fiwork (like github) activity block*/
.fiwork-activity-graph{
    background: #fff;
    border-radius: 8px;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.fiwork-activity-graph-container{
    padding: 20px;
    border: 2px solid #efeff0;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
}

.fiwork-activity-graph-wrapper{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

/* Chrome, Edge, Safari */
.main-container *::-webkit-scrollbar {
  width: 8px; /* ширина вертикального скроллбара */
  height: 8px; /* высота горизонтального скроллбара */
}

.main-container *::-webkit-scrollbar-thumb {
  background-color: #efeff0;
  border-radius: 4px;
}

.main-container *::-webkit-scrollbar-track {
  background: transparent;
}

.main-container *::-webkit-scrollbar-button {
  display: none; /* Убирает стрелки */
}

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.graph {
  display: inline-grid;
  grid-template-areas: "empty months" "days squares";
  grid-gap: 10px;
  grid-template-columns: auto 1fr;
  margin-bottom: 10px; 
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
  grid-area: months;
}

.days {
  display: grid;
  grid-template-rows: repeat(7, var(--square-size));
  grid-gap: var(--square-gap);
  grid-area: days;
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
  grid-area: squares;
  padding: 0;
}


.graph ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares li {
  background-color: #ebedf0;
  border-radius: 2px;
}

.squares li[data-level="1"] {
    background-color: #9be9a8;
}

.squares li[data-level="2"] {
  background-color: #ebedf0;
}

.squares li[data-level="3"] {
  background-color: #196127;
}

/*end of year-sellings-block*/

/*new-in-stock-block*/
.new-in-stock-block{
    width: 100%;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 20px;
}

.new-in-stock-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.new-in-stock-header h2{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    color: #222325;
    margin: 0;
    padding: 0;
}

.new-in-stock-header h2 .projects-in-day{
    color: #95979d;
}

.new-in-stock-header .see-more-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #62646a;
    cursor: pointer;
}

.new-in-stock-header .see-more-container img{
    width: 10px;
}

.new-in-stock-table-wrapper{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin-top: 15px;
}

.new-in-stock-table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    min-width: 768px;
    margin-bottom: 15px;
} 

.new-in-stock-table .table-header{
    min-width: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 200px 170px;
    background: #fafafa;
    padding: 10px 20px;
}

.new-in-stock-table .table-header div{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #666;
    text-align: left;
}

.new-in-stock-table .table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.new-in-stock-table .table-row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 200px 170px;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
    gap: 10px;
}

.new-in-stock-table .table-row:last-child{
    border: 0;
    padding-bottom: 0px;
}

.new-in-stock-table .project-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.new-in-stock-table .project-name{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #333;
    cursor: pointer;
}

.new-in-stock-table .project-nav{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #8a8a8a;
}

.project-nav a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.new-in-stock-table .order-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.new-in-stock-table .user-avatar-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #333;
    cursor: pointer;
}

.new-in-stock-table .user-avatar-container{
    width: 24px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.new-in-stock-table .user-avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.new-in-stock-table .suggestion-nums{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #333;
    text-align: left;
}

.new-in-stock-table .budget-count{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #04b70a;
}

.new-in-stock-table *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*end of new-in-stock-block*/

/*3-steps-to-start-block*/
.three-steps-to-start-block{
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    border: 1px solid #efeff0;
    margin-top: 20px;
    display: none;
}

.three-steps-to-start-block h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #404145;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.three-steps-to-start-block p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #74767e;
    text-align: left;
    margin: 0;
    padding: 0;
}

.three-steps-to-start-container{
    margin-top: 20px;
}

.steps-to-start-container{
    margin-top: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.step-to-start-container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e2e2e2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 20px;
}

.step-details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.step-details-container .step-img{
    width: 48px;
}

.step-details-container .step-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.step-details-container .step-details .description{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #111;
    margin: 0;
    padding: 0;
}


.step-details-container .step-progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.step-details-container .step-progress-bar {
  width: 120px;
  max-width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8px;
}

.step-details-container .step-progress-fill {
  height: 100%;
  background-color: #22c55e; /* зелёный */
  border-radius: 10px;
}


.step-details-container .step-progress-text {
    font-size: 14px;
    color: #4b5563; /* серый цвет */
    max-width: 100%;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    text-align: right;
    color: #62646a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.step-to-start-container .more-about-step{
    border: 1px solid #04b70a;
    border-radius: 4px;
    padding: 8px;
    min-width: 160px;
    max-width: 100%;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #04b70a;
}

.step-to-start-container .active-services{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #177de5;
    cursor: pointer;
}

.message-modal-fixed{
    min-width: 250px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: fixed;
    right: 40px;
    bottom: 0px;
    cursor: pointer;
    background: #fff;
}

.message-modal-fixed img{
    width: 24px;
}

.message-modal-fixed p{
    font-family: var(--font4);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    margin: 0;
    padding: 0;
}

.message-modal-fixed p span{
    padding: 3px 5px;
    border-radius: 100%;
    background: #ff6163;
    font-family: var(--font4);
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

.message-modal-fixed
/*end of 3-steps-to-start-block*/

footer{
    margin-top: 0 !important;
}


/*modal-windows*/
.fast-executor-search-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: 120;
}

.fast-executor-search-modal-block{
    background: #fff;
    border-radius: 16px;
    width: 90%;
    max-width: 720px;
}

.fast-executor-search-header{
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 16px 24px;
    min-height: 72px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.05), 0 1px 8px 0 rgba(0, 0, 0, 0.13);
    background: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.fast-executor-search-header img{
    flex-shrink: 0;
    width: 28px;
}

.fast-executor-search-header .close-icon{
    cursor: pointer;
}

.fast-executor-search-header h2{
    flex: 1;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 118%;
    color: #111;
}

.fast-executor-search-wrapper{    
    padding: 16px 24px;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    overflow: hidden;
    overflow-y: auto;
}

.fast-executor-search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
}

.fast-executor-search-container p{
    max-width: 610px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #95979d;
    text-align: left;
}

.fast-executor-search-container>img{
    width: 330px;
    max-width: 100%;
    margin: 70px 0;
}


.fast-executor-search-container input[type='button']{
    background: #04b70a;
    border: 1px solid #04b70a;
    border-radius: 6px;
    padding: 19px;
    min-width: 200px;
    min-height: 48px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 71%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fast-executor-search-modal.hidden{
    display: none;
}
/*end of modal-windows*/

/*search-fiwork-step-stages*/

.search-fiwork-step-stages{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 15px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.search-fiwork-step-stage{
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 10px;
    margin-top: 10px;
}

.search-fiwork-step-stage.hidden{
    display: none;
}

.search-fiwork-step-stage .step-stage-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 133%;
    color: #111;
}

.search-fiwork-step-stage .step-stage-name .error-description{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #f15b5b;
    margin: 0;
    padding: 0;
}


.search-fiwork-step-stage .step-stage-name .error-description.hidden{
    display: none
}

.search-fiwork-step-stage .step-stage-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.search-fiwork-step-stage .step-stage-form.two-cols{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 500px;
    gap: 15px;
}

.search-fiwork-step-stage .add-own-variant{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #177de5;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-top: -5px;
}

.search-fiwork-step-stage .step-stage-form.two-cols .step-stage-form-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.search-fiwork-step-enter-name .step-stage-form .textarea-container{
    width: 100%;
    position: relative;
}

.search-fiwork-step-enter-name .step-stage-form textarea{
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    padding: 11px 10px;
    height: 100px;
    min-height: 30px;
    background: #fff;
    resize: none;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 123%;
    color: #111;
}

.search-fiwork-step-enter-name .step-stage-form textarea::placeholder{
    color: #808080;
}

.search-fiwork-step-enter-name .step-stage-form .word-interval{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #8a8a8a;
    margin-top: 5px;
}

.search-fiwork-step-select-section .step-stage-form select{
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    padding: 0 12px;
    width: 100%;
    height: 40px;
    max-width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.search-fiwork-step-select-section #select-subcategory.hidden{
    display: none;
}


.search-fiwork-step-select-section .step-stage-form .similar-to-selection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3px;
    margin-top: 15px;
}


.search-fiwork-step-select-section .step-stage-form .similar-to-selection.hidden{
    display: none;
}



.search-fiwork-step-select-section .step-stage-form .similar-to-selection label{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #111;
    margin: 0;
    padding: 0;
}

.search-fiwork-step-select-section .step-stage-form .similar-to-selection-row{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #457edb;
    text-decoration: none;
    cursor: pointer;
}

.search-fiwork-step-select-section .step-stage-form .select-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.fast-executor-search-wrapper::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.fast-executor-search-wrapper:hover::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.fast-executor-search-wrapper:hover::-webkit-scrollbar-thumb{
  background-color: #ddd;
}


.fast-executor-search-wrapper:hover::-webkit-scrollbar-thumb{
    background-color: #ccc;
}

.fast-executor-search-wrapper:hover::-webkit-scrollbar-track{
  background: transparent;
}

.fast-executor-search-wrapper::-webkit-scrollbar-track{
  display: none; 
}

/*end of search-fiwork-step-stages*/

/*freelancer-main-info*/
.freelancer-main-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 30px;
    width: 100%;
}

.freelancer-info-content1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    height: min-content; 
    width: 100%;
}

.freelancer-avatar-container{
    width: 168px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.freelancer-avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.freelancer-info-content1 .freelancer-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 10px; 
}

.freelancer-info-content1 .freelancer-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-family: var(--font4);
    font-weight: 700;
    font-size: 23px;
    line-height: 134%;
    color: #222325;
    margin: 0;
    padding: 0;
}

.freelancer-info-content1 .freelancer-name img{
    width: 20px;
}

.freelancer-info-content1 .freelancer-username{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 173%;
    color: #74767e;
    text-align: left;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.freelancer-info-content1 .freelancer-position{
    font-family: var(--font4);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #222325;
    text-align: left;
    margin: 0;
    padding: 0;
}

.freelancer-info-content1 .freelancer-trophies-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.trophy{
    position: relative;
}

.about-trophy{
    position: absolute;
    border-radius: 4px;
    padding: 16px;
    width: 231px;
    height: auto;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}

.trophy:hover .about-trophy{
    display: flex;
}

.verified-user{
    position: relative;
}
.about-verified{
    position: absolute;
    left: 0;
    border-radius: 0 8px 8px 8px;
    padding: 10px;
    width: 269px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
    z-index: 100;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    display: none;
}

.verified-user:hover .about-verified{
    display: flex;
}


.about-verified-img{
    width: 14px;
}

.about-verified-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.about-verified-description h3{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.01em;
    color: #2a5885;
}

.about-verified-description p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    color: #333;
    margin: 0;
    padding: 0;
}

.about-verified-description p.special-color{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #2a5885;
    margin: 0;
    padding: 0;
}

.about-trophy-header{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    color: #484848;
}

.about-trophy-description{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #333;
}
.freelancer-info-content1 .freelancer-trophies-container img{
    width: 40px;
    aspect-ratio: 1/1;
}

.about-freelancer-container{
    width: 100%;
}

.about-freelancer-container h2{
    font-family: var(--font4);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #222325;
    text-align: left;
    margin-top: 0;
}

.about-freelancer-container p{
    font-family: var(--font4);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #404145;
}

.freelancer-skills{
    text-align: left;
}

.freelancer-skills span{
    font-family: var(--font4);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #222325;
    border: 1px solid #e4e5e7;
    border-radius: 9999px;
    padding: 9px 0px;
    background: #fff;
    padding: 5px 25px;
    margin: 5px;
    display: inline-block;
}

.freelancer-rating-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.freelancer-rating-wrapper h3{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #74767e;
}

.freelancer-rating-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.freelancer-rating-content img{
    width: 15px; 
}

.freelancer-rating-content p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 175%;
    color: #b5b6ba;
    margin: 0;
    padding: 0;
}

.freelancer-rating-content .rating-num{
    color: #ffbe5b;
    font-weight: 700;
}

.freelancer-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.freelancer-name-wrapper{
    padding-right: 15px;
    border-right: 1px solid #efeff0;;
}

.freelancer-portfolio-wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.next-button{
    position: absolute;
    left: 0;
    z-index: 1000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.prev-button{
    position: absolute;
    right: 0;
    z-index: 1000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.next-button img,
.prev-button img{
    border-radius: 3px;
    padding: 3px;
    background: #fff;
    cursor: pointer;
}

.freelancer-portfolio{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
}

.freelancer-portfolio .portfolio-elem{
    border-radius: 5px;
    aspect-ratio: 1.7/1.1;
    overflow: hidden;
}

.freelancer-portfolio .portfolio-elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.services-price{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
}

.services-price h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #74767e;
    margin: 0;
    padding: 0;
}

.services-price p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 118%;
    color: #04b70a;
    margin: 0;
    padding: 0;
} 

.fast-executor-search-wrapper .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttons .repeat-search{
    border: 1px solid #04b70a;
    border-radius: 6px;
    padding: 19px;
    min-width: 200px;
    min-height: 48px;
    background: #04b70a;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 71%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.buttons .go-to-profile{
    border: 1px solid #04b70a;
    border-radius: 6px;
    padding: 19px;
    min-width: 200px;
    min-height: 50px;
    background: #fff;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 71%;
    text-align: center;
    color: #04b70a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
/*end of freelancer-main-info*/

/*banned-modal*/
.banned-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-indeX: 120;
}

.banned-modal-block{
    background: #fff;
    width: 90%;
    max-width: 400px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 8px -4px rgba(10, 13, 18, 0.04), 0 20px 24px -4px rgba(10, 13, 18, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.banned-modal-block h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #181d27;
    margin: 0;
    padding: 0;
}

.banned-modal-block p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #535862;
    margin: 0;
    padding: 0;
}

.banned-modal-block p b{ 
    display: inline;
}

.banned-modal-block .buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.buttons .exit-button{
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 18px;
    width: 100%
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #414651;
    cursor: pointer;
}

.buttons .write-button{
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #e45865;
    border-radius: 8px;
    padding: 10px 18px;
    width: 100%;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
}

.banned-modal.hidden{
    display: none;
}
/*end of banned-modal*/

.stories-content{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #efeff0;
    border-radius: 8px;
}

.stories-wrapper{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    background: #fff;
    border: 1px solid #efeff0;
    border-radius: 8px;
    height: 153px;
    padding: 20px;
}

.stories-content .stories-shadow{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    height: 100%;
    aspect-ratio: 3/15;
    z-index: 100;
}


.stories-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: auto;
    width: min-content;
}

.stories-container .story-block{
    width: 120px;
    aspect-ratio: 1/1;
    border: 2px solid #aac8ff;
    border-radius: 8px;
    position: relative;
    overflow: hidden;   
}

.stories-container .story-block .img-container{
    width: 100%;
    height: 100%;
}

.stories-container .story-block .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.stories-container .story-block .text-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 12px;
}

.stories-container .story-block .text-container p{ 
    text-align: left;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    letter-spacing: -0.02em;
    color: #fff;
    margin: 0;
    padding: 0;
}

/*card-offer-block*/
.card-offer-block{
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    padding: 40px;
    gap: 15px;
}

.card-offer-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.card-offer-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.card-offer-description h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin: 0;
    padding: 0;
}

.card-offer-description p{
    font-family: var(--font7);
    font-weight: 500;
    font-size: 13px;
    line-height: 159%;
    color: #666;
}

.card-offer-description .select-card{
    margin-top: 20px;
    background: #0c7bf5;
    border-radius: 24px;
    min-width: 174px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font7);
    font-weight: 500;
    font-size: 15px;
    line-height: 132%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.card-offer-description .select-card:hover{
    background: #0d8cf6;
}

.card-offer-banner{
    width: 258px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-offer-banner img{
    width: 100%;
} 

/*end of card-offer-block*/



@media (max-width: 1200px){
    .freelancer-profile-block{
        gap: 20px;
    }
    
    .card-offer-banner{
        width: 200px;
    }
}

@media (max-width: 1050px){
    .card-offer-banner{
        width: 150px;
    }
}

@media (max-width: 960px){
    .freelancer-profile-block{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .card-offer-banner{
        width: 258px;
    }
    
    .main-container{
        padding: 0; 
    }
    
    .freelancer-messages-content{
        padding-right: 15px;
    }
}

@media (max-width: 768px){
    .step-to-start-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    
    .card-offer-banner{
        width: 200px;
    }
    
}

@media (max-width: 600px){
    .new-in-stock-header{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .card-offer-banner{
        width: 258px;
    }
    
    .card-offer-block{
        flex-direction: column;
    }
    
}

@media (max-width: 520px){
    .step-details-container .step-progress-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .my-orders-block{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
    
    .fast-executor-search-container>img{
        margin: 30px 0;
    }
    
    .freelancer-info-content1{
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    
    
    .fast-executor-search-wrapper .buttons{
        flex-direction: column;
        width: 100%;
    }
    
    .fast-executor-search-wrapper .buttons .repeat-search,
    .fast-executor-search-wrapper .buttons .go-to-profile{
        width: 100%;
    }
    
    .card-offer-banner{
        width: 100%;
    }
}

@media (max-width: 380px){
    .step-details-container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .step-details-container .description{
        text-align: center;
    }
    
    .step-details-container .step-details{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .step-details-container .step-progress-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} 

