/*:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Plus Jakarta Sans", sans-serif;
  --font4: "Montserrat", sans-serif;
  --font5: "Tajawal", sans-serif;
  --font6: "Nunito", sans-serif;
  --font7: "SF Pro Text", sans-serif;
}*/

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Wix Madefor Text", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Poppins", sans-serif;
  --font4: "Roboto", sans-serif;
  --font5: "Manrope", sans-serif;
  --font6: "DM Sans", sans-serif;
  --font7: "Plus Jakarta Sans", sans-serif;
  --font8: "Noto Sans", sans-serif;
  --font9: "SF UI Text", sans-serif;
  --font10: "Tajawal", sans-serif;
  --font11: "SF Pro Text", sans-serif;
  --font12: "Montserrat", sans-serif;
  --font13: "Outfit", sans-serif;
}


*{
    box-sizing: border-box;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input:hover,
input:focus,
input:active,
input:valid {
  border: none;
  outline: none;
  box-shadow: none;
}

.main-block{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
}

.main-container{
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
}


.freelancer-profile-block{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 60px;
}

.freelancer-reviews-container{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    padding: 20px;
    padding-top: 30px;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
}


.freelancer-avatar-stars-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #efeff0;
}

.freelancer-avatar-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.freelancer-avatar-name-container .freelancer-name{
    font-family: var(--font8);
    font-weight: 600;
    font-size: 17px;
    line-height: 148%;
    text-align: center;
    color: #000;
    margin: 0;
    padding: 0;
}

.freelancer-stars-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}

.freelancer-stars-container .yellow-star-icon{
    width: 14px;
}

.freelancer-stars-container p{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 175%;
    color: #ffbe5b;
    margin: 0;
    padding: 0;
}

.freelancer-stars-container p .reviews-count{
    font-weight: 400;
    color: #b5b6ba;
}

.freelancer-avatar-name-container .img-container{
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.freelancer-avatar-name-container .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

/*progressbar-container*/
.freelancer-progressbar-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efeff0;
}

.freelancer-progress{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.freelancer-progress p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #404145;
    margin: 0;
    padding: 0;
}

.freelancer-progress .progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.freelancer-progress .progress-bar {
  width: 60px;
  max-width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8px;
}

.freelancer-progress .progress-fill {
  height: 100%;
  background-color: #22c55e; /* зелёный */
  border-radius: 10px;
}

.freelancer-progress .progress-text {
    font-size: 14px;
    color: #4b5563; /* серый цвет */
    width: 40px;
    max-width: 100%;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    text-align: right;
    color: #62646a;
}


.receive-orders-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.receive-orders-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #62646a;
}

.receive-orders-text img{
    width: 12px;
}

.receive-orders-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.receive-orders-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.receive-orders-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.receive-orders-container .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.receive-orders-container input:checked + .slider {
  background-color: #04b70a; /* Красный цвет, как на картинке */
}

.receive-orders-container input:checked + .slider:before {
  transform: translateX(32px);
}

/*end of progressbar-container*/

/*ai-agent-container*/
.ai-agent-container{
    margin-top: 20px;
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 16px 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
} 

.ai-agent-text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #111;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.ai-agent-text img{
    width: 16px;
}

.ai-agent-container .img-container{
    width: 32px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: rgba(69, 126, 219, 0.04);;
    overflow: hidden;
}

.ai-agent-container .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*end of ai-agent-container*/

/*freelancer-activities-container*/
.freelancer-activities-container{
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 20px;
}

.freelancer-activities-container figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    cursor: pointer; 
}

.freelancer-activities-container figcaption{
    font-family: var(--font8);
    font-weight: 400;
    font-size: 11px;
    line-height: 200%;
    text-align: center;
    color: #51382f;
}
/*end of freelancer-activities-container*/

/*freelancer-messages-container*/
.freelancer-messages-container{
    width: 100%;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

.freelancer-messages-header{
    border-bottom: 1px solid #efeff0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freelancer-messages-header h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #111;
    margin: 0;
    padding: 0;
}

.freelancer-messages-header a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #177de5;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

.freelancer-messages-content{
    padding: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.freelancer-message{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 45px 1fr;
    gap: 10px;
    width: 100%;
}

.freelancer-message .user-messaging-avatar{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
}

.freelancer-message .user-messaging-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.user-messaging-data{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.user-messaging-username-and-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.user-messaging-username-and-date h4{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #333;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.user-messaging-username-and-date span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-align: right;
    color: #8a8a8a;
    margin: 0;
    padding: 0;
}

.user-message-and-num{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
}

.user-message-and-num .message{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #333;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.user-message-and-num .message-num-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
} 
.user-message-and-num .message-num{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #04b70a;
    padding: 4px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 11px;
    line-height: 109%;
    text-align: center;
    color: #fff;
    width: 16px;
    height: 16px;
}
/*end of freelancer-messages-container*/

/*my-orders-block*/
.freelancer-details-container{
    width: 100%;
    overflow: hidden;
}
.my-orders-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}


.my-orders-container, .my-goods-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 247%;
    color: #222325;
}

.my-orders-container .sum-overview, .my-goods-container .active-overview{
    color: #95979d;    
}

.my-orders-block .see-more-container, .my-goods-block .see-more-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #62646a;
}

.my-orders-block .see-more-container img, .my-goods-block .see-more-container{
    width: 10px;
}
/*end of my-orders-block*/

/*year-sellings-block*/
.year-sellings-block{
    margin-top: 20px;
    margin-top: 30px;
}

.year-sellings-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.year-sellings-header h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #62646a;
    margin: 0;
    padding: 0;
}

.year-sellings-header h2{
    flex-shrink: 0;
}

.year-sellings-header .line{
    flex: 1;
    width: 100%;
    border-top: 2px solid #dadbdd;
    height: 2px;
}


/*Fiwork (like github) activity block*/
.fiwork-activity-graph{
    background: #fff;
    border-radius: 8px;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.fiwork-activity-graph-container{
    padding: 20px;
    border: 2px solid #efeff0;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
}

.fiwork-activity-graph-wrapper{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

/* Chrome, Edge, Safari */
.fiwork-activity-graph-wrapper::-webkit-scrollbar {
  width: 8px; /* ширина вертикального скроллбара */
  height: 8px; /* высота горизонтального скроллбара */
}

.fiwork-activity-graph-wrapper::-webkit-scrollbar-thumb {
  background-color: #efeff0;
  border-radius: 4px;
}

.fiwork-activity-graph-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.fiwork-activity-graph-wrapper::-webkit-scrollbar-button {
  display: none; /* Убирает стрелки */
}

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.graph {
  display: inline-grid;
  grid-template-areas: "empty months" "days squares";
  grid-gap: 10px;
  grid-template-columns: auto 1fr;
  margin-bottom: 10px; 
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
  grid-area: months;
}

.days {
  display: grid;
  grid-template-rows: repeat(7, var(--square-size));
  grid-gap: var(--square-gap);
  grid-area: days;
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
  grid-area: squares;
  padding: 0;
}


.graph ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares li {
  background-color: #ebedf0;
}

.squares li[data-level="1"] {
  background-color: #c6e48b;
}

.squares li[data-level="2"] {
  background-color: #7bc96f;
}

.squares li[data-level="3"] {
  background-color: #196127;
}

/*end of year-sellings-block*/

/*new-in-stock-block*/
.new-in-stock-block{
    width: 100%;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #efeff0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-top: 20px;
}

.new-in-stock-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.new-in-stock-header h2{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    color: #222325;
    margin: 0;
    padding: 0;
}

.new-in-stock-header h2 .projects-in-day{
    color: #95979d;
}

.new-in-stock-header .see-more-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #62646a;
}

.new-in-stock-header .see-more-container img{
    width: 10px;
}

.new-in-stock-table-wrapper{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin-top: 15px;
}

.new-in-stock-table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    min-width: 768px;
    margin-bottom: 15px;
} 

.new-in-stock-table .table-header{
    min-width: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 200px 170px;
    background: #fafafa;
    padding: 10px 20px;
}

.new-in-stock-table .table-header div{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #666;
    text-align: left;
}

.new-in-stock-table .table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.new-in-stock-table .table-row{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 200px 170px;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #e2e2e2;
    gap: 10px;
}

.new-in-stock-table .table-row:last-child{
    border: 0;
    padding-bottom: 0px;
}

.new-in-stock-table .project-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.new-in-stock-table .project-name{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #333;
}

.new-in-stock-table .project-nav{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #8a8a8a;
}

.new-in-stock-table .order-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.new-in-stock-table .user-avatar-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #333;
}

.new-in-stock-table .user-avatar-container{
    width: 24px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.new-in-stock-table .user-avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.new-in-stock-table .suggestion-nums{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #333;
    text-align: left;
}

.new-in-stock-table .budget-count{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #04b70a;
}

.new-in-stock-table *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*end of new-in-stock-block*/

/*3-steps-to-start-block*/
.three-steps-to-start-block{
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);
    border: 1px solid #efeff0;
    margin-top: 20px;
}

.three-steps-to-start-block h2{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #404145;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.three-steps-to-start-block p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #74767e;
    text-align: left;
    margin: 0;
    padding: 0;
}

.three-steps-to-start-container{
    margin-top: 20px;
}

.steps-to-start-container{
    margin-top: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.step-to-start-container{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e2e2e2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 20px;
}

.step-details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.step-details-container .step-img{
    width: 48px;
}

.step-details-container .step-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.step-details-container .step-details .description{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #111;
    margin: 0;
    padding: 0;
}


.step-details-container .step-progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.step-details-container .step-progress-bar {
  width: 120px;
  max-width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8px;
}

.step-details-container .step-progress-fill {
  height: 100%;
  background-color: #22c55e; /* зелёный */
  border-radius: 10px;
}

.step-details-container .step-progress-text {
    font-size: 14px;
    color: #4b5563; /* серый цвет */
    max-width: 100%;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    text-align: right;
    color: #62646a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.step-to-start-container .more-about-step{
    border: 1px solid #04b70a;
    border-radius: 4px;
    padding: 8px;
    min-width: 160px;
    max-width: 100%;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #04b70a;
}

.step-to-start-container .active-services{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #177de5;
    cursor: pointer;
}

.message-modal-fixed{
    min-width: 250px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: fixed;
    right: 40px;
    bottom: 0px;
    cursor: pointer;
    background: #fff;
}

.message-modal-fixed img{
    width: 24px;
}

.message-modal-fixed p{
    font-family: var(--font4);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    margin: 0;
    padding: 0;
}

.message-modal-fixed p span{
    padding: 3px 5px;
    border-radius: 100%;
    background: #ff6163;
    font-family: var(--font4);
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}

.message-modal-fixed
/*end of 3-steps-to-start-block*/

footer{
    margin-top: 0 !important;
}

@media (max-width: 1200px){
    .freelancer-profile-block{
        gap: 20px;
    }
    
}

@media (max-width: 960px){
    .freelancer-profile-block{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    
    .main-container{
        padding: 0; 
    }
    
    .freelancer-messages-content{
        padding-right: 15px;
    }
}

@media (max-width: 768px){
    .step-to-start-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
}

@media (max-width: 600px){
    .new-in-stock-header{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (max-width: 520px){
    .step-details-container .step-progress-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .my-orders-block{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }
}

@media (max-width: 380px){
    .step-details-container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .step-details-container .description{
        text-align: center;
    }
    
    .step-details-container .step-details{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .step-details-container .step-progress-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
} 