
/*:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Plus Jakarta Sans", sans-serif;
  --font4: "Montserrat", sans-serif;
  --font5: "Tajawal", sans-serif;
  --font6: "Nunito", sans-serif;
  --font7: "SF Pro Text", sans-serif;
}*/

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Plus Jakarta Sans", sans-serif;
  --font4: "SF Pro Text", sans-serif;
  --font5: "Lexend", sans-serif;
  --font6: "Helvetica Neue", sans-serif;
  --font7: "Montserrat", sans-serif;
  --font8: "Tajawal", sans-serif;
  --font9: "SF UI Text", sans-serif;
  --font10: "SF Compact Display", sans-serif;
  --font11: "SF Pro", sans-serif;
  --font12: "Nunito", sans-serif;
}


*{
    box-sizing: border-box;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    /*padding-left: 20px;
    padding-right: 20px;*/
}

.nav-part1-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4e5e7;
    height: 81px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-part1{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-and-search-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.logo-and-search-block .header-logo{
    width: 92px;
    height: auto;
}


.logo-and-search-block .search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}


.logo-and-search-block .search-container .search-service-input{
    border-radius: 5px;
    padding: 12px 10px;
    padding-left: 20px;
    width: 348px;
    height: 45px;
    background: #edeff2;
    font-family: var(--font5);
    font-weight: 400;
    font-size: 16px;
    color: #a2a2a2;
    border: 0;
    padding-right: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo-and-search-block .search-button-stick{
    width:1px; 
    height:20px; 
    border:none; 
    background:#ddd;
    border: 1px solid #d6d6d6;
    position: absolute;
    left: 10px;
}

.logo-and-search-block .search-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    right: 10px;
}

.logo-and-search-block .search-button-container.hidden{
    display: none;
}

.logo-and-search-block .search-container img{
    width: 14px;
    cursor: pointer;
}

.logo-and-search-block .search-container .search-content-button{
    border-radius: 5px;
    width: 80px;
    height: 32px;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.02);
    background: #04b70a;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.registration-and-login-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.registration-and-login-block .register-button{
    padding: 0px 24px;
    width: 214px;
    height: 48px;
    background: #e8ffec;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 300%;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #04b70a;
    border: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

.registration-and-login-block .register-button:hover{
    background: #bbf3ca;
}

.registration-and-login-block .login-button{
    padding: 0px 24px;
    width: 96px;
    height: 48px;
    background: #04b70a;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 300%;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition-duration: 0.3s;
}

.registration-and-login-block .login-button:hover{
    background: #079e0c;
}

input:hover,
input:focus,
input:active,
input:valid {
  border: none;
  outline: none;
  box-shadow: none;
}

/*Style of main navigation*/
.nav-part2-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4e5e7;
    height: 41px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px; 
}

.nav-part2{
    width: 100%;
    max-width: 1440px;
}

.nav-part2 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background: #fff;  
    margin: 0;
    padding: 0;
    gap: 10px;
}

.nav-part2 li{
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-part2 li:hover {
    border-bottom: 2px solid #177de5;
    transition-duration: 0.1s;
    z-index: 103;
}

.nav-part2 li:hover>a{
    color: #177de5;
    transition-duration: 0.1s;
}

/*Mega menu*/
/* Выпадающее мега-меню */
.mega-menu {
  position: absolute;
  left: 0;
  top: 104%;
  background: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 102;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  width: max-content;
}

.nav-part2 li:hover .mega-menu {
  display: flex;
}

/* Колонки */
.mega-menu-column {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  flex-shrink: 0;
}

.mega-menu-column.with-border{
    border-left: 1px solid #ccc;
}

.mega-menu-column h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #303030;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}


.mega-menu-column h4:first-child {
  margin-top: 0;
}

.nav-part2 .mega-menu-column a {
  text-decoration: none;
  color: #555;
  margin: 5px 0;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.mega-menu-column a:hover {
  color: #0073e6;
}

.nav-part2 a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #62646a;
    text-decoration: none;
}

/*End of main navigation*/


/*Start of footer*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-container{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 30px;
}

.footer-col1{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.footer-col1 .footer-logo{
    width: 77px;
}

.footer-col1 p{
    font-family: var(--font3);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #52525b;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer-col1 .social-sites-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}

.footer-col1 .social-sites-container img{
    height: 20px;
    width: auto;
    transition: filter 1s ease, transform 0.3s ease;
}

.footer-col1 .social-sites-container .colorful-icon{
    display: none;
}

/* При наведении на ссылку показываем цветную иконку и скрываем серую */
.social-sites-container a:hover .grey-icon {
  display: none;
}

.social-sites-container a:hover .colorful-icon {
  display: inline-block; /* Или flex, block, grid, в зависимости от контекста */
}


.footer-nav-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-nav-col h3{
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: var(--font3);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #191d23;
    margin-bottom: 20px;
}

.footer-nav-col a{
    text-decoration: none;
    font-family: var(--font3);
    font-weight: 400;
    font-size: 14px;
    line-height: 286%;
    color: #191d23;
    text-align: left;
}


.footer-container .footer-nav-col a:hover{
    color: #0177ff;
    transition-duration: 0.2s;
}

/*End of footer*/

.main-block{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.main-container{
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
}

.services-nav-block{
    display: grid;
    grid-template-columns: 1fr 180px 210px;
    gap: 10px;
}

.services-nav-block{
    margin-top: 50px;
}

.services-nav-container2{
    border-radius: 10px;
    width: 100%;
    background: #2196f3;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.services-nav-container2 h3{
    font-family: var(--font4);
    font-weight: 600;
    font-size: 18px;
    line-height: 117%;
    color: #fff;
    margin: 0;
    padding: 0;
}

.services-nav-container2 p{
    font-family: var(--font4);
    font-weight: 400;
    font-size: 14px;
    line-height: 136%;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}

.services-nav-container2 .pocket-icon{
    width: 70px;
    height: 66px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}


.services-nav-container3{
    border: 1px solid #efeff0;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    min-height: 180px;
    height: 100%;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.services-nav-container3 h3{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 180%;
    text-align: center;
    color: #404145;
    width: 100%;
}

.services-nav-container3 p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 185%;
    text-align: center;
    color: #404145;
    width: 100%;
    margin: 0;
    padding: 0;
}

.services-nav-container3 input[type='button']{
    border-radius: 8px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font6);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #fff;
    background: #2196f3;
    border: 0;
    cursor: pointer;
}

.services-nav-container3 input[type='button']:hover{
    background: #107cd3;
}

.services-nav-container1{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 8px;
}

.services-nav-container1 .row1{
    width: 100%;
    display: grid;
    grid-template-columns: 1.54fr 1fr 1fr 1.54fr 1fr 1fr 1.54fr;
    gap: 8px;
    min-height: 90px;
    height: 100%;
}

.services-nav-container1 .row2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.54fr 1.54fr 1.54fr;
    gap: 8px;
    min-height: 90px;
}

.services-nav-container1 .service-nav-elem{
    border-radius: 12px;
    min-height: 90px;
    height: 100%;
    width: 100%;
    background: #f2f1f0;
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background-size: auto 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.services-nav-container1 .service-nav-elem:hover{
    background-color: #ebeae8;
    
}

.services-nav-container1 .service-nav-elem span{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.services-nav-container1 .logo-service{
    background-image: url("../img/icons/logo-creation.png");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.services-nav-container1 .music-creation-service{
    background-image: url("../img/icons/music-creation-service.png");
}

.services-nav-container1 .vfx-3d-service{
    background-image: url("../img/icons/vfx-3d-service.png");
}

.services-nav-container1 .create-app-service{
    background-image: url("../img/icons/create-app-service.png");
}

.services-nav-container1 .website-building-service{
    background-image: url("../img/icons/website-building-service.png");
}

.services-nav-container1 .ozvuchka-service{
    background-image: url("../img/icons/ozvuchka-service.png");
}

.services-nav-container1 .html-markup-service{
    background-image: url("../img/icons/html-markup.png");
}

.services-nav-container1 .naming-service{
    background-image: url("../img/icons/naming-service.png");
}

.services-nav-container1 .figma-design-service{
    background-image: url("../img/icons/figma-design-service.png");
}

.services-nav-container1 .reels-making-service{
    background-image: url("../img/icons/reels-making-service.png");
}

.services-nav-container1 .flutter-service{
    background-image: url("../img/icons/flutter-service.png");
}

.services-nav-container1 .create-telegram-app-service{
    background-image: url("../img/icons/create-telegram-app-service.png");
}

.services-nav-container1 .songwriting-service{
    background-image: url("../img/icons/songwriting-service.png");
}

.services-nav-container1 .social-sites-service{
    background-image: url("../img/icons/social-sites-service.png");
}

.similar-to-search-block{
    margin-top: 50px;
    width: 100%;
    padding: 20px 32px;
    width: 100%;
    border: 1px solid #e4e5e7;
    border-radius: 8px;
    position: relative;
}


.similar-to-search-block .shadow{
    position: absolute;
    right: 32px;
    z-index: 100;
    top: 0;
    height: 100%;
    width: 30px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.similar-to-search-header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 101;
}

.similar-to-search-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    text-decoration: none;
}


.similar-to-search-header h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #404145;
    text-align: left;
    padding: 0;
    margin: 0;
}

.similar-to-search-header img{
    width: 18px;
    height: 18px;
}

.similar-to-search-controls{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 12px;
}

.similar-to-search-controls img{
    width: 24px;
    cursor: pointer;
}

/*Ads block*/
.service-card-block{
    width: 100%;
    display: grid;
    grid-auto-flow: column; /* Элементы размещаются в одной строке */
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
}

.service-card-block.swiper-wrapper{
    gap: 0;
}

/*.swiper-hidden{
    display: none !important;
}*/

.ad-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e5e7;
    background: #fff;
    text-decoration: none;
    margin: 0;
}

.ad-container .ad-part1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
}

.ad-container .ad-banner{
    width: 100%;
    aspect-ratio: 2.6/1.73;
    overflow: hidden;
}

.ad-container .ad-banner img{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
    position: relative;
}

.ad-container h3{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: #222325;
    text-align: left;
    margin: 0;
    padding: 5px 15px;
    min-height: 50px;
}

.ad-container .freelancer-container{
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    margin-bottom: 10px;
}

.freelancer-container .freelancer-avatar{
    width: 24px;
    height: 24px;
    position: relative;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.freelancer-container .freelancer-avatar .freelancer-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
    border-radius: 100%;
}

.freelancer-container .freelancer-avatar .freelancer-status{
    width: 14px;
    position: absolute;
    bottom: -7px;
}


.freelancer-container .freelancer-avatar .freelancer-status.hidden{
    display: none;
}

.freelancer-container .freelancer-username{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    color: #222325;
    padding: 0;
    margin: 0;
}

.freelancer-container img.verified-freelancer{
    width: 12.5px;
}


.freelancer-container img.verified-freelancer.hidden{
    display: none;
}

.ad-container .service-data-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    gap: 10px; 
    border-top: 1px solid #efeff0;
}

.service-rating .rating-stars{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.service-rating .rating-stars p{
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 175%;
    color: #b5b6ba;
    text-align: left;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.service-rating .rating-stars .yellow-text{
    color: #ffbe5b;
    font-weight: 700;
}

.service-rating .rating-text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffbe5b;
}

.service-price .service-price-text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 10px;
    line-height: 200%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
    color: #74767e;
}

.service-price .service-price-num{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 118%;
    text-align: right;
    color: #04b70a;
}
/*End of ads block*/

/*Start earning block*/
.start-earning-block{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 7.5fr 6.5fr;
    gap: 40px;
}

.start-earning-banner-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #2b56cc;
}

.start-earning-banner-text{
    padding: 40px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.start-earning-banner-text h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
}

.start-earning-banner-text p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    letter-spacing: -0.01em;
    color: #fff;
    max-width: 350px;
    width: 100%;
}

.start-earning-banner-img{
    height: 100%;
    flex-shrink: 0;
}

.start-earning-banner-img img{
    height: 100%;
}

.start-earning-banner-text .become-freelancer{
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.01);
    background: #fff;
    padding: 0 24px;
    display: inline-block;
    width: 244px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.start-earning-banner-text .become-freelancer:hover{
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.01);
    background: #eee;
}

.start-earning-banner-text .become-freelancer span{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 300%;
    letter-spacing: -0.01em;
    color: #2b56cc;
}

.start-earning-banner-text .become-freelancer img{
    width: 24px;
}

.start-earning-steps-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    border: 1px solid #e4e5e7;
    padding: 40px;
    gap: 40px;
} 

.start-earning-steps-container h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.01em;
    color: #1d2026;
    text-align: left;
    margin: 0;
    padding: 0;
}

.start-earning-steps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.start-earning-step{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.start-earning-step .start-earning-step-num{
    border-radius: 100px;
    padding: 11px 0px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ebebff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 124%;
    text-align: center;
    color: #564ffd;
}

.start-earning-step p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1d2026;
    margin: 0;
    padding: 0;
}

.start-earning-step2 .start-earning-step-num{
    background: #fff0f0;
    color: #ff6636;
}


.start-earning-step3 .start-earning-step-num{
    background: #fff0f0;
    color: #e34444;
}

.start-earning-step4 .start-earning-step-num{
    background: #e1f7e3;
    color: #23bd33;;
}

/*End of start-earning-block*/

/*Additional services block*/
.additional-services-block{
    margin-top: 50px;
    width: 100%;
}

.additional-services-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carousel-controls{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.additional-services-header h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    line-height: 136%;
    color: #404145;
    text-align: left;
}

.carousel-controls img{
    width: 24px;
    cursor: pointer;
}

/*End of additional services block*/

/*Additional apps block*/
.additional-apps-block{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    border-radius: 11px;
    background: #f8f8f8;
}

.additional-apps-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.additional-apps-content .fiwork-banner{
    min-height: 161px;
    height: 100%;
}

.additional-apps-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.additional-apps-text h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 118%;
    color: #212529;
    max-width: 440px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.additional-apps-text p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #5a5d63;
    text-align: left;
    margin: 0;
    padding: 0;
    max-width: 440px;
}

.additional-apps-links{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
}

.additional-apps-intro{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.additional-apps-intro p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    color: #5a5d63;
    border-radius: 18px 0 18px 20px;
    max-width: 211px;
    background: #f1f3fb;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    margin: 0;
}

.additional-apps-qr{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.additional-apps-platforms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
}

.addional-apps-platforms a img{
    width: 132px;
}
/*End of additional apps block*/

/*Fiwork modal-register-container*/
.fiwork-register-modal-container{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    padding: 20px;
}

.fiwork-register-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 8px -4px rgba(10, 13, 18, 0.04), 0 20px 24px -4px rgba(10, 13, 18, 0.1);
    background: #fff;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
    position: relative;
} 

.fiwork-register-modal .x-close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    cursor: pointer;
}

.fiwork-register-modal-header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fiwork-register-modal-header .featured-icon{
    width: 48px;
    height: auto;
}

.fiwork-register-modal-header h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #181d27;
    margin: 0;
    padding: 0;
}

.fiwork-register-modal-header p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #535862;
    margin: 0;
    padding: 0;
}

.role-switch {
  background: #f5f5f5;
  border-radius: 999px;
  padding: 4px;
  width: 320px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
  background: #f8f8fc;
  border-radius: 8px;
}

.role-switch input[type="radio"] {
  display: none;
}

.role-switch label {
  padding: 6px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  font-family: var(--font7);
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000;
    border-radius: 8px;
}

.role-switch input[type="radio"]:checked + label {
  background: #fff;
  box-shadow: 0 0 0 1px #ddd;
  font-weight: 600;
  border-radius: 8px;
}

.fiwork-register-modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.fiwork-register-modal-form input[type='text']{
    width: 100%;
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 14px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 352px;
}

.fiwork-register-modal-form input[type='button']{
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 14px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #04b70a;
    border: 0;
    width: 100%;
    max-width: 352px;
    cursor: pointer;
}

.fiwork-register-modal-form input[type='button']:hover{
    background: #079e0c;
}

.fiwork-register-modal-form fieldset{
    border: 0px;
    border-top: 1px solid #e9eaeb;
    text-align: center;
    padding: 0;
    margin: 0;
}

.fiwork-register-modal-form fieldset legend{
    padding: 10px;
}

.fiwork-register-modal-form fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
}

.fiwork-register-modal-form fieldset a{
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 16px;
    max-width: 352px;
    height: 44px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05); 
    background: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fiwork-register-modal-form fieldset a:hover{
    background: #eee;
}

.fiwork-register-modal-form fieldset img{
    width: 25px;
}

.fiwork-register-modal-form fieldset span{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #414651;
    padding: 0;
    margin: 0;
}

.fiwork-register-modal-container.hidden{
    display: none;
}
/*End of fiwork modal-register-container*/

/*Fiwork modal-login-container*/
.fiwork-login-modal-container{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden; 
    padding: 20px;
}

.fiwork-login-modal-container.hidden{
    display: none;
}

.fiwork-login-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 8px -4px rgba(10, 13, 18, 0.04), 0 20px 24px -4px rgba(10, 13, 18, 0.1);
    background: #fff;
    padding: 20px;
    padding-top: 0; 
    position: relative;
    gap: 7px;
} 

.fiwork-login-modal .x-close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    cursor: pointer;
}

.fiwork-login-modal-header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fiwork-login-modal-header .featured-icon{
    width: 48px;
    height: auto;
}

.fiwork-login-modal-header h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #181d27;
    margin: 0;
    padding: 0;
}

.fiwork-login-modal-header p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #535862;
    margin: 0;
    padding: 0;
}


.fiwork-login-modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.fiwork-login-modal-form input[type='text']{
    width: 100%;
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 14px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 352px;
}

.fiwork-login-modal-form input[type='button']{
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 14px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #04b70a;
    border: 0;
    width: 100%;
    max-width: 352px;
    cursor: pointer;
}

.fiwork-login-modal-form input[type='button']:hover{
    background: #079e0c;
}

.fiwork-login-modal-form label{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #414651;
    text-align: left;
    width: 100%;
}

.remember-me-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.remember-me-checkbox{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #414651;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.remember-me-container .forgot-password-link{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #2b56cc;
    text-decoration: none;
}

.remember-me-container .forgot-password-link:hover{
    color: #0d38ae;
}

.remember-me-container{
    margin-bottom: 20px;
}

.social-sites-enter-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-sites-enter-links a{
    text-decoration: none;
    display: inline-block;
}

.social-sites-enter-links img{
    width: 50px;
    height: 50px;
}

.social-sites-enter-links img.colorful-icon{
    display: none;
}

.social-sites-enter-links a:hover img.grey-icon{
    display: none;
}

.social-sites-enter-links a:hover img.colorful-icon{
    display: inline-block;
}
/*End of fiwork modal-login-container*/

/*Check-register-modal-container*/
.check-register-modal-container{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    padding: 20px;
}

.check-register-modal-container.hidden{
    display: none;
}

.check-register-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 8px -4px rgba(10, 13, 18, 0.04), 0 20px 24px -4px rgba(10, 13, 18, 0.1);
    background: #fff;
    gap: 5px;
    padding: 30px;
    padding-top: 0;
    position: relative;
} 

.check-register-modal .x-close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    cursor: pointer;
}

.check-register-modal-header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.check-register-modal-header .featured-icon{
    width: 48px;
    height: auto;
}

.check-register-modal-header h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #181d27;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.check-register-modal-header p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #535862;
    margin: 0;
    padding: 0;
}

.check-register-modal-header p .bold-text{  
    font-weight: 600;
}

.code-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    max-width: 356px;
}

.code-container .code-input {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #04b70a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #04b70a;
}

.code-input:focus {
  border-color: #2e7d32;
}


.resend {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #535862;
}
.resend a {
      color: #007aff;
      text-decoration: underline;
      cursor: pointer;
}
.resend a.disabled {
    pointer-events: none;
    color: #535862;
    opacity: 0.8;
    text-decoration: none;
}

.check-register-modal-container .control-buttons{
    width: 100%;
    max-width: 356px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 30px;
}

.check-register-modal-container .back-to-register-form-button{
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 18px;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #414651;
    cursor: pointer;
}

.check-register-modal-container .back-to-register-form-button:hover{
    background: #eee;
}

.check-register-modal-container .continue-register-button{
    border: 1px solid #04b70a;
    border-radius: 8px;
    padding: 10px 18px;
    width: 100%;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #04b70a;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
}
.check-register-modal-container .continue-register-button:hover{
    background: #079e0c;
}
/*End of check-register-modal-container*/


/*Check-login-modal-container*/
.check-login-modal-container{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    padding: 20px;
}

.check-login-modal-container.hidden{
    display: none;
}

.check-login-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 8px 8px -4px rgba(10, 13, 18, 0.04), 0 20px 24px -4px rgba(10, 13, 18, 0.1);
    background: #fff;
    gap: 5px;
    padding: 30px;
    padding-top: 0;
    position: relative;
} 

.check-login-modal .x-close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    cursor: pointer;
}

.check-login-modal-header{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.check-login-modal-header .featured-icon{
    width: 48px;
    height: auto;
}

.check-login-modal-header h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #181d27;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.check-login-modal-header p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #535862;
    margin: 0;
    padding: 0;
}

.check-login-modal-header p .bold-text{  
    font-weight: 600;
}

.code-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    max-width: 356px;
}

.code-container .code-input {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #04b70a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #04b70a;
}

.code-input:focus {
  border-color: #2e7d32;
}


.resend {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #535862;
}
.resend a {
      color: #007aff;
      text-decoration: underline;
      cursor: pointer;
}
.resend a.disabled {
    pointer-events: none;
    color: #535862;
    opacity: 0.8;
    text-decoration: none;
}

.check-login-modal-container .control-buttons{
    width: 100%;
    max-width: 356px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 30px;
}

.check-login-modal-container .back-to-login-form-button{
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 18px;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #414651;
    cursor: pointer;
}

.check-login-modal-container .back-to-login-form-button:hover{
    background: #eee;
}

.check-login-modal-container .continue-login-button{
    border: 1px solid #04b70a;
    border-radius: 8px;
    padding: 10px 18px;
    width: 100%;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #04b70a;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
}

.check-login-modal-container .continue-login-button:hover{
    background: #079e0c;
}
/*End of check-login-modal-container*/

/*Cookies-policy-container*/
.cookies-policy-container{
    border: 1px solid #e0e8f9;
    border-radius: 12px;
    width: 500px;
    max-width: 80%;
    box-shadow: 0 8px 24px 0 rgba(150, 158, 166, 0.2);
    background: #f1f4fd;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    gap: 15px;
    display: none;
}

.cookies-policy-container img{
    width: 48px;
}

.cookies-policy-container p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 115%;
    color: #1f234c;
    text-align: left;
    margin: 0;
    padding: 0;
}

.cookies-policy-container a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 115%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #1f234c;
    display: inline;
    margin: 0; 
    padding: 0;
}

.cookies-policy-container input[type='button']{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 43px;
    height: 30px;
    background: #4a6ddb;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
}
/*End of cookies-policy-container*/


.phone-header{
    display: none;
}


.burger-block{
    display: none;
}
    
.burger-block.active{
    display: flex;
}

.mobile-catalog-block{
    display: none;
}

.mobile-catalog-block.active-catalog{ 
    display: block;
}

.mobile{
    display: none;
}

.change-login-option{
    display: none;
}
@media (max-width: 1330px){
    .services-nav-container1 .service-nav-elem{
        background-size: auto 80%;
    }
}

@media (max-width: 1220px){
    .services-nav-container1 .service-nav-elem{
        background-size: auto 60%;
    }
    
    .nav-part ul{
        height: auto;
    }
    
    .nav-part2 li a{
        font-size: 14px;
    }
}

@media (max-width: 1200px){
    .additional-apps-block{
        padding-right: 20px; 
    }
    
    .additional-apps-content .fiwork-banner{
        min-height: 120px;
    }
    
    .start-earning-block{
        grid-template-columns: 49% 49%;
        gap: 2%; 
    }
    
    .start-earning-banner-container{
        overflow: hidden;
        position: relative;
    }
    
    .start-earning-banner-img{
        position: absolute;
        right: -100px;
        z-index: 10;
    }
    
    .start-earning-banner-text{
        z-index: 11;
    }
    
    .start-earning-banner-img{
        height: 100%;
        flex-shrink: 0;
    }
}

@media (max-width: 1050px){
    .services-nav-block{
        display: grid;
        grid-template-columns: 1fr 1fr !important; /* Две колонки равной ширины */
        grid-template-rows: auto auto; /* Две строки с автоматической высотой */
        grid-template-areas: 
            "first first" /* Первая строка: первый элемент занимает обе колонки */
            "second third"; /* Вторая строка: второй и третий элементы делят поровну */
        gap: 10px;
    }
    
    
    .nav-part2 li a{
        font-size: 12px;
        text-align: center;
    }
    
    .services-nav-container1{
        grid-area: first; /* Занимает все колонки (от 1 до конца) */
    }
    
    .services-nav-container2{
        grid-area: second;
        width: 100%;
    }
    
    .services-nav-container3{
        grid-area: third;
        max-width: auto;
        width: auto;
    }
    
    .services-nav-container1 .service-nav-elem{
        background-size: auto 100%;
    }
}

@media (max-width: 1000px){
    .services-nav-container1 .service-nav-elem{
        background-size: auto 90%;
    }
    
    .footer-container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 960px){
    .start-earning-block{
        grid-template-columns: 100%;
        gap: 20px; 
    }
    
    .start-earning-banner-img{
        position: relative;
        right: auto;
    }
 
    
    .additional-apps-block{
        gap: 10px;
    }
    
    .additional-apps-intro{
        display: none;
    }
} 

@media (max-width: 900px){
    .services-nav-container1 .service-nav-elem{
        background-size: auto 80%;
    }
    
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Две колонки равной ширины */
        grid-template-rows: auto auto; /* Две строки с автоматической высотой */
        grid-template-areas: 
            "first first first" /* Первая строка: первый элемент занимает обе колонки */
            "second third fourth"; /* Вторая строка: второй и третий элементы делят поровну */
        gap: 30px;
    }
    
    .footer-col1{
        grid-area: first; 
        width: 100%;
    }
    
    .footer-col2{
        grid-area: second;
    }
    
    .footer-col3{
        grid-area: fourth;
    }
    
}

@media (max-width: 840px){
    .services-nav-container1 .service-nav-elem{
        background-size: auto 70%;
    }
    
    
    .logo-and-search-block .search-container .search-service-input{
        width: 300px;
    }
    
    .additional-apps-text h2{
        font-size: 18px;
    }
}

@media (max-width: 800px){
    .logo-and-search-block .search-container .search-service-input{
        width: 250px;
    }
    
    .registration-and-login-block .register-button{
        width: auto;
        font-size: 14px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .registration-and-login-block .login-button{
        width: auto;
        font-size: 14px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    
    .additional-apps-text h2{
        font-size: 16px;
    }
    
    
    .additional-apps-text p{
        font-size: 12px;
    }
    
    .mega-menu-column {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      flex-shrink: 0;
    }
    
    
    .mega-menu-column h4 {
        font-size: 12px;
    }
    
    .mega-menu-column a{
        font-size: 12px;
    }
}

@media (max-width: 768px){
    .computer-header{
        display: none;
    }
    
    /*.main-container{
        padding-left: 20px;
        padding-right: 20px;
    }*/
    
    .phone-header{
        display: block;
        margin-bottom: 10px;
        padding: 0;
    }
    
    div.computer-version{
        display: none;
    }
    
    .logo-burger-login-block{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .logo-burger-login-block .burger-icon{
        width: 36px;
    }
    
    .logo-burger-login-block .mobile-logo-icon{
        width: 100px;
    }
    
    .mobile-login-link{
        font-size: 18px;   
    }
    
    .mobile-search-block{
        padding: 40px 20px;
        background: rgba(69, 126, 219, 0.06);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .mobile-search-input-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
    .mobile-search-input-container input{
        width: 100%;
        border: 1px solid #a5a5a5;
        border-radius: 4px;
        padding: 13px 41px 13px 53px;
        height: 48px;
        box-shadow: inset 0 4px 9px 1px rgba(0, 0, 0, 0.05);
        background: #fff;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        color: #999;
        padding-left: 40px; 
    }
    
    .mobile-search-input-container img{
        position: absolute;
        left: 30px;
        width: 24px;
    } 
    
    .mobile-search-block h3{
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 22px;
        line-height: 127%;
        color: #111;
        padding: 0;
        margin: 0;
        margin-bottom: 15px; 
    }
    
    .mobile-search-block .search-input-submit{
        border-radius: 8px;
        padding: 11px 0px 12px;
        height: 48px;
        min-width: 150px;
        min-height: 48px;
        background: #0177ff;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #fff;
    }
    
    .start-earning-steps-container{
        padding: 20px;
    }
    
    .start-earning-banner-text{
        padding: 20px;
        padding-bottom: 40px;
    } 
    
    .start-earning-banner-text h2{
        font-size: 24px;
    }
    
    .start-earning-steps-container h3{
        font-size: 24px;
    }
    
    .start-earning-steps-container p{
        font-size: 14px;
    }
    
    .start-earning-step .start-earning-step-num{
        width: 24px;
        height: 24px;
        font-size: 14px; 
    }
    
    .mobile-footer-container.mobile{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    
    .footer-accordion-nav{
        width: 100%;
    }
    
    .footer-accordion-block{
        width: 100%;
    }
    
    footer{
        border-top: 1px solid #dadbdd;
        margin-top: 50px;
    }
    
    .mobile-additional-apps-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        border-top: 1px solid #dadbdd;
    }
    
    .mobile-additional-apps-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .mobile-additional-apps-links img{
        width: 140px;
    }
    
    .mobile-additional-apps-links{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    
    .mobile-additional-apps-container .social-sites-enter-links img{
        width: 30px;
        height: 30px;
    }
    
    .mobile-categories-block{
        display: block;
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    .mobile-categories-header, .mobile-popular-services-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .mobile-categories-header h2, .mobile-popular-services-header h2{
        font-family: var(--font9);
        font-weight: 600;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #0a0614;
        text-align: left;
    }
    
    .mobile-categories-header a, .mobile-popular-services-header a{
        font-family: var(--font5);
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.02em;
        text-align: right;
        color: #0177ff;
        text-decoration: none;
    }
    
    .mobile-categories-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        grid-auto-rows: 1fr;
    }
    
    .mobile-categories-container a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
    }
    
    .mobile-categories-container a .img-container{
        width: 100%;
        padding: 20px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f7f7f7;
        border-radius: 8px;
        max-width: 100px;
    }
    
    .mobile-categories-container a .img-container img{
        width: 100%;
    }
    
    .mobile-categories-container a p{
        font-family: var(--font5);
        font-weight: 300;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #0a0614;
    }
    
    .mobile-popular-services-block.mobile{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        overflow: hidden;
    }
    
    .mobile-popular-services-header{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .mobile-popular-services-container{
        width: 100%;
        padding-left: 20px;
        overflow: hidden;
        overflow-x: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }
    
    .mobile-popular-services-container::-webkit-scrollbar {
        display: none;
    }
    
    .mobile-popular-services-wrapper{
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 16px;
    }
    
    .mobile-popular-service-elem{
        width: 256px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ededed;
        border-radius: 8px;
        overflow: hidden;
    }
    
    .mobile-popular-service-banner{
        width: 100%;
        aspect-ratio: 2.56/1.69;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobile-popular-service-banner img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: inline-block;
        position: relative;
    }
    
    .mobile-popular-service-content{
        padding: 12px;
        width: 100%;
    }
    
    .mobile-service-freelancer-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .mobile-service-freelancer-data{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 7px;
        
    }
    
    .mobile-service-freelancer-data p{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #0a0614;
        margin: 0;
        padding: 0;
    }
    
    .mobile-freelancer-img-container{
        width: 28px;
        aspect-ratio: 1/1;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 3px;
    }
    
    .mobile-freelancer-img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        display: inline-block;
    }
    
    .mobile-verified-freelancer-icon{
        width: 15px;
    } 
    
    .mobile-service-freelancer-row .like-icon{
        width: 32px;
        aspect-ratio: 1/1;
    } 
    
    .mobile-popular-service-description{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 137%;
        color: #222325;
        text-align: left;
        width: 100;
    }
    
    .mobile-popular-service-rating{
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;
    }
    
    .mobile-yellow-star-icon{
        width: 15px;
        aspect-ratio: 1/1;
    }
    
    .mobile-popular-service-rating p{
        margin: 0;
        padding: 0;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 12px;
        line-height: 175%;
        color: #ffbe5b;
    }
    
    .mobile-popular-service-rating .special-text{
        font-weight: 400;
        color: #b5b6ba;
    }
    
    .mobile-popular-service-details{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .mobile-popular-service-price{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #04b70a;
        text-align: left;
    }
    
    
    .change-login-option{
        display: block;
    }
    
    .change-login-option p{
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        text-align: center;
        color: #111;
    }
    
    .change-login-option p a{
        color: #177de5;
        text-decoration: underline;
    }
}

@media (max-width: 560px){
    .start-earning-banner-img{
        position: absolute;
        right: -70px;
    }
    
    .mobile-categories-header h2, .mobile-popular-services-header h2{
        font-size: 20px;
    }
    
    .mobile-categories-header a, .mobile-popular-services-header a{
        font-size: 18px;
    }
    
}

@media (max-width: 480px){
    .start-earning-banner-img{
        right: -100px;
    }
    
    .mobile-categories-header h2, .mobile-popular-services-header h2{
        font-size: 18px;
    }
    
    
    .mobile-categories-header a, .mobile-popular-services-header a{
        font-size: 16px;
    }
}

@media (max-width: 460px){
    .start-earning-step .start-earning-step-num{
        width: 44px;
        height: 44px;
        font-size: 20px; 
    }
    
    
    .start-earning-steps{
        grid-template-columns: 1fr;
        gap: 20px; 
    }
    
    .start-earning-steps-container p{
        font-size: 18px;
    }

    .mobile-categories-container a p{
        font-size: 12px;
    }
}

@media (max-width: 376px){
    .mobile-categories-header h2, .mobile-popular-services-header h2{
        font-size: 16px;
    }
    
    .mobile-categories-header a, .mobile-popular-services-header a{
        font-size: 14px;
    }
    
    .mobile-categories-container a p{
        font-size: 11px;
    }
}
