/*:root {

  --font-family: "Inter", sans-serif;

  --second-family: "Open Sans", sans-serif;

  --third-family: "Manrope", sans-serif;

  --font3: "Plus Jakarta Sans", sans-serif;

  --font4: "Montserrat", sans-serif;

  --font5: "Tajawal", sans-serif;

  --font6: "Nunito", sans-serif;
  --font7: "SF Pro Text", sans-serif;

}*/

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Plus Jakarta Sans", sans-serif;
  --font3: "Manrope", sans-serif;
  --font4: "Helvetica Neue", sans-serif;
  --font5: "Roboto", sans-serif;
  --font6: "Tajawal", sans-serif;
  --font7: "Fira Sans", sans-serif;
  --font8: "SF UI Text", sans-serif;
}

*{

    box-sizing: border-box;

    transition-duration: 0.1s;

    transition-property: all;

    transition-timing-function: linear;

}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


textarea{
    outline: none;
}

footer{
    background: #fff !important;
    margin-top: 0 !important;
}

.main-block{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f6f6f6;
    min-height: 80vh;
}

.main-container{
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-navigation-menu .main-menu-login-container{
    display: none !important;
}

form.mobile-search-block{
    display: none !important;
}

.computer-header .login-button,
.computer-header .register-button{
    display: none !important;
}

.login-container {
    margin: 100px 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-block{
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    width: 520px;
    max-width: 100%;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login-block h2{
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #1b1f23;
    margin: 0;
    padding: 0; 
    text-align: center;
}

.input-containers-wrapper{
    display: flex;
    flex-direction: column;
    aling-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%; 
    gap: 22px; 
}

.input-containers-wrapper input{
    background: #fff;
    border: 0;
    border-radius: 6px;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;    
}

.input-containers-wrapper .input-container{
    border: 1px solid #c6cbd1;
    border-radius: 8px;
    padding: 10px 20px;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.input-containers-wrapper .input-container.error{
    border: 1px solid #f94636;
}

.input-containers-wrapper .input-container.filled{
    border: 1px solid #367fee;
}


.input-containers-wrapper .input-container .input-error-text{
    flex-shrink: 0; 
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 175%;
    text-align: center;
    color: #f94636;
    display: none;
}


.input-containers-wrapper .input-container.error .input-error-text{
    display: inline-block; 
}

.input-containers-wrapper input.error{
    border: 1px solid #f94636;
} 

.password-input-container{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-right: 50px !important;
}

.password-input-container .password-eye-container{ 
    position: absolute;
    right: 10px;
    width: 30px;
}

.password-input-container .password-eye-container img{ 
    width: 100%;
    cursor: pointer; 
}

.input-description{ 
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #959da5;
    text-align: center;
    width: 100%;
    margin-top: 5px;
} 

.input-description a{
    color: #959da5;
} 

.checkbox-container input[type='checkbox']{
    border: 1px solid #959da5;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
}

.checkbox-container label{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #959da5;
}

.personal-data-agreement-container{ 
    margin-top: 41px;
    margin-bottom: 17px;
}

.submit-form-button{
    margin-top: 27px;
    width: 100%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    min-height: 40px;
    background: #2196f3;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center; 
    outline: none;
    border: none; 
    cursor: pointer;
}


.submit-form-button:hover{
    opacity: 0.8;
} 

.alternative-container{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    width: 100%;
    overflow: hidden; 
    margin-top: 12px;
    margin-bottom: 21px;
}

.alternative-container span{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #959da5;
    padding: 0 10px;
}

.alternative-container .horizontal-line{
    border: 0; 
    background: transparent;
    height: 1px;
    border-bottom: 1px solid #c6cbd1;
    flex-shrink: 0; 
    width: 100%;
}

.login-container .login-by-social-sites-container{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.login-container .login-by-social-sites-container a{
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer; 
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid #ebebeb;
    text-decoration: none;
}

.login-container .login-by-social-sites-container a img{
    width: 28px;
    max-width: 80%;
}

.login-container .alternative-auth-container{
    text-align: left;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #959da5;
    margin-top: 10px; 
    width: 100%;
}

.login-container .alternative-auth-container a{
    color: #367fee;
    text-decoration: none;
}




@media (max-width: 550px){
    .login-container .login-block{
        padding: 30px;
    }
}

@media (max-width: 400px){
    .login-container .login-block{
        padding: 20px;
    }
}

