:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Arial", sans-serif;
  --font3: "Noto Sans", sans-serif;
  --font4: "Helvetica Neue", sans-serif;
  --font5: "SF UI Text", sans-serif;
  --font6: "Roboto", sans-serif;
  --font7: "SF Pro Text", sans-serif;
  --font8: "Plus Jakarta Sans", sans-serif;
  --font9: "Lato", sans-serif;
  --font10: "Manrope", sans-serif;
  --font11: "Tajawal", sans-serif;
  --font12: "DM Sans", sans-serif;
  --font13: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input:hover,
input:focus,
input:active,
input:valid{
  border: none;
  outline: none;
  box-shadow: none;
}

.main-block{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.main-container{
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.mediakit-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    width: 100%;
}

.mediakit-header, .mediakit-description{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 20px; 
}

.mediakit-header-text h1{
    font-family: var(--font10);
    font-weight: 700;
    font-size: 56px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #222;
}

.mediakit-header-text h1 span{
    color: #0177ff;
    display: inline-block;
}

.mediakit-header-text h1 span img{
    display: inline;
    height: 60px;
}

.mediakit-header-text p{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #222;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.mediakit-header-text p a{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #07f;
    margin: 0;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.mediakit-header-banner{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.mediakit-header-banner img{
    width: 368px;
    max-width: 100%;
}

.mediakit-description-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.mediakit-description-logo-text{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 20px;
    width: 100%;
}

.mediakit-description-logo-text.text1{
    background: #07f;
}

.mediakit-description-logo-text.text1 h2{
    font-family: var(--font4);
    font-weight: 700;
    font-size: 56px;
    line-height: 118%;
    letter-spacing: 0em;
    color: #fff;
    margin: 0;
    padding: 0;
}

.mediakit-description-logo-text.text1 p{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
    margin: 0;
    padding: 0;
} 

.mediakit-description-logo-text.text2{
    background: #f2f3f5;
} 

.mediakit-description-logo-text.text2 p{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #222;
    margin: 0;
    padding: 0;
}

.mediakit-description-logo-text.text3{
    background: #222;
}

.mediakit-description-logo-text.text3 p{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.72);
    margin: 0;
    padding: 0;
} 

.mediakit-description-logo-text.text4{
    background: #07f;
}

.mediakit-description-logo-text.text4 p{
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.mediakit-description-banner-container{
    width: 100%;
    background: #f2f3f5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediakit-description-banner-container svg{
    width: 100%;
}

.color-palette-block{
    width: 100%;
    padding: 50px;
    background: #f2f3f5;
    border-radius: 12px;
    margin-top: 50px;
}

.color-palette-container {
    max-width: 1000px;
    width: 100%;
}

.color-palette-block .block-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 56px;
    line-height: 118%;
    letter-spacing: 0em;
    color: #222;
    margin-top: 0;
}

.color-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px 100px; 
}

.color-item {
    display: flex;
    align-items: center; 
}

.color-swatch {
    width: 112px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 30px;
    flex-shrink: 0; 
}

.blue-main {
    background-color: #0177FF;
}

.blue-light {
    background-color: #E8F4FF;
    border: 1px solid #ddd; 
}

.white-main {
    background-color: #FFFFFF;
    border: 1px solid #ddd; 
}

.black-main {
    background-color: #000000;
}


.color-details p,
.color-values p {
    margin: 0;
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    text-transform: uppercase;
    color: #333;
}

.color-details {
    margin-right: 40px; 
}

.color-details strong {
    font-weight: normal;
    color: #818c99;
}


.partner-materials-block{
    margin-top: 50px;
    background: #f2f3f5;
    border-radius: 20px;
    width: 100%;
    padding: 50px;
}

.partner-materials-container {
    max-width: 1000px;
}

.partner-materials-block .block-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 56px;
    line-height: 118%;
    letter-spacing: 0em;
    color: #222;
    margin-top: 0;
}


.partner-materials-block .content-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px; 
}

.partner-materials-block .content-column {
    padding-right: 20px;
}

.partner-materials-block .section-title {
    font-family: var(--font4);
    font-weight: 700;
    font-size: 26px;
    line-height: 131%;
    letter-spacing: 0.01em;
    color: #222;
    margin-top: 0;
    margin-bottom: 10px;
}

.partner-materials-block .section-description {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #222;
    margin-top: 0;
    margin-bottom: 10px;
}

.partner-materials-block .contact-link,
.partner-materials-block .download-link {
    display: inline-block;
    text-decoration: none;
    line-height: 1.4;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #07f;
}

.partner-materials-block .contact-link:hover,
.partner-materials-block .download-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .content-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1270px){
    .mediakit-header h1{
        font-size: 40px;
    }
    
    .mediakit-header h1 .sparks{
        height: 40px;
    }

    .mediakit-description-logo-text.text1 h2{
        font-size: 40px; 
    }
    
    .mediakit-header p{
        font-size: 16px;
    }
    
    .mediakit-description-logo-text{
        padding: 30px; 
    }
    
    .mediakit-description-logo-text p{
        font-size: 16px;
    }
    
    .color-palette-block,
    .partner-materials-block {
        padding: 30px;
    }
    
    .color-palette-block .block-title {
        font-size: 40px;
    }
    
    .partner-materials-block .block-title {
        font-size: 40px;
    }
    
    .color-swatch {
        width: 90px; 
    }
    
    
    .color-details p,
    .color-values p {
        font-size: 16px;
    }
    
    .partner-materials-block .section-title {
        font-size: 22px; 
    }
    
    .partner-materials-block .section-description {
        font-size: 16px; 
    }
    
    
    .partner-materials-block .contact-link,
    .partner-materials-block .download-link {
        font-size: 16px;
    }
}


@media(max-width: 850px){
    .color-container { 
        gap: 40px 40px; 
    }
}

@media(max-width: 790px){
    .mediakit-header{
        grid-template-columns: 1fr;
    }
    
    .mediakit-header-text{
        max-width: 550px;
    }
    
    .mediakit-description{
        grid-template-columns: 1fr;
    }
    
    .mediakit-header-banner{
        display: none;
    }
    
    .color-container{
        grid-template-columns: 1fr;
    }
    
    .color-container .color-item:nth-child(2n){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
    .color-container .color-item .color-swatch{
        width: 120px;
    }
    
    .color-details p,
    .color-values p {
        font-size: 18px;
    }
    
    
    .partner-materials-block .content-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    } 
}

@media(max-width: 620px){
    .partner-materials-block .content-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    } 
}

@media(max-width: 520px){
    .color-details p,
    .color-values p {
        font-size: 16px;
    }
    
    .color-container .color-item .color-swatch{
        width: 90px;
    }
}

@media(max-width: 430px){
    .color-details p,
    .color-values p {
        font-size: 14px;
    }
    
    .color-container .color-item .color-swatch{
        width: 70px;
        margin-right: 20px;
    }
    
    
    .color-details {
        margin-right: 20px;
    }
    
    
    .color-palette-block .block-title{
        font-size: 30px;
    }
    
    
    .partner-materials-block .block-title {
        font-size: 30px;
    }
    
    
    .partner-materials-block .section-title {
        font-size: 18px;
    }
    
    
    .partner-materials-block .section-description {
        font-size: 14px; 
    }
    
    
    .partner-materials-block .contact-link,
    .partner-materials-block .download-link {
        font-size: 14px; 
    }
    
    
    .mediakit-block{
        margin-top: 30px;
        margin-bottom: 30px; 
    }
    
    
}

