/*:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Plus Jakarta Sans", sans-serif;
  --font4: "Montserrat", sans-serif;
  --font5: "Tajawal", sans-serif;
  --font6: "Nunito", sans-serif;
  --font7: "SF Pro Text", sans-serif;
}*/

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Poppins", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Manrope", sans-serif;
  --font5: "DM Sans", sans-serif;
  --font6: "Plus Jakarta Sans", sans-serif;
  --font7: "Noto Sans", sans-serif;
  --font8: "SF UI Text", sans-serif;
  --font9: "Tajawal", sans-serif;
  --font10: "SF Pro Text", sans-serif;
  --font11: "Wix Madefor Text", sans-serif;
  --font12: "Montserrat", sans-serif;
  --font13: "Outfit", sans-serif;
}


*{
    box-sizing: border-box;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: linear;
}


body{
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input:hover,
input:focus,
input:active,
input:valid {
  border: none;
  outline: none;
  box-shadow: none;
}

.main-block{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.main-container{
    max-width: 1400px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}


.svg-icon{
    filter: none;  
}

.svg-icon:hover {
  filter: brightness(0) saturate(100%) invert(18%) sepia(95%) saturate(6821%) hue-rotate(358deg) brightness(97%) contrast(112%);
}

.messenger-block{
    margin-top: 20px;
    max-width: 100%;
    height: 930px;
    max-height: 78vh;
    background: #fff;
    aspect-ratio: 19/9.3;border: 1px solid #e8e8e8;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 63px 1fr;
    overflow: hidden;
}

.messenger-header{
    grid-column: 1/-1;
    background: #fff;
    border-bottom: 1px solid #f0f2f5;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--font8);
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #000;
}

.messenger-aside{ 
    background: #fff;
    border-right: 1px solid #f0f2f5;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.search-in-message-block{
    border-bottom: 1px solid #f0f2f5;
    padding: 17px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 70px;
}

.search-in-message-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 4px 12px;
    min-height: 32px;
}

.search-in-message-container img{
    width: 15px;
    flex-shrink: 0;
}

.search-in-message-container input{
    flex: 1;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    margin: 0;
    padding: 0;
}

.messenger-container{
    background: #fdfdfd;
    height: 100%;
    overflow: hidden;
}

/*aside-container content*/
.contacts-block{
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;
}


.contacts-block::-webkit-scrollbar,
.messages-container::-webkit-scrollbar,
.stickers-wrapper::-webkit-scrollbar,
.order-suggestion-modal-container::-webkit-scrollbar,
.individual-order-suggestion-modal-container::-webkit-scrollbar{
  width: 0;
  height: 0;
}

.contacts-block:hover::-webkit-scrollbar,
.messages-container:hover::-webkit-scrollbar,
.order-suggestion-modal-container:hover::-webkit-scrollbar,
.individual-order-suggestion-modal-container::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.contacts-block::-webkit-scrollbar-thumb,
.messages-container::-webkit-scrollbar-thumb,
.stickers-wrapper:hover::-webkit-scrollbar-thumb,
.order-suggestion-modal-container:hover::-webkit-scrollbar-thumb,
.individual-order-suggestion-modal-container:hover::-webkit-scrollbar-thumb{
  background-color: #ddd;
}


.contacts-block::-webkit-scrollbar-thumb:hover,
.messages-container::-webkit-scrollbar-thumb:hover,
.stickers-wrapper:hover::-webkit-scrollbar:hover,
.order-suggestion-modal-container:hover::-webkit-scrollbar:hover,
.individual-order-suggestion-modal-container:hover::-webkit-scrollbar-thumb{
    background-color: #ccc;
}

.contacts-block::-webkit-scrollbar-track,
.messages-container::-webkit-scrollbar-track,
.stickers-wrapper::-webkit-scrollbar-track,
.order-suggestion-modal-container:hover::-webkit-scrollbar-track,
.individual-order-suggestion-modal-container:hover::-webkit-scrollbar-track{
  background: transparent;
}

.contacts-block::-webkit-scrollbar-track,
.stickers-wrapper::-webkit-scrollbar-track,
.stickers-wrapper::-webkit-scrollbar-track,
.order-suggestion-modal-container::-webkit-scrollbar-track,
.individual-order-suggestion-modal-container::-webkit-scrollbar-track{
  display: none; 
}

.contact-container{
    width: 100%;
    padding: 15px 24px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    border-bottom: 1px solid #f0f2f5;
    cursor: pointer;
}

.contact-container .avatar-container{
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}

.contact-container .avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.contact-container .contact-info{
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contact-container .contact-name-last-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.contact-container .contact-name-last-date h4{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contact-container .contact-name-last-date span{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: right;
    color: rgba(61, 61, 61, 0.5);
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

.contact-container .contact-last-message{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #333;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*end of aside-container-content*/

/*messenger-container content*/
.welcome-screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-modal{
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    width: 276px;
    max-width: 100%;
    background: #fff;
    padding: 30px 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-modal h3{
    font-family: var(--font10);
    font-weight: 600;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #949494;
    margin: 0;
    padding: 0;
}

.welcome-modal p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: #949494;
}

.welcome-screen.hidden{
    display: none;
}

/*start of messenger-content*/
.messenger-content{
    width: 100%;
    height: 100%;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
}

.messenger-content.hidden{
    display: none;
}

.messenger-content .message-content-header{
    height: 70px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid #f0f2f5;
}

.message-content-header .contact-info{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.message-content-header .contact-avatar{
    width: 46px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.message-content-header .contact-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.message-content-header .contact-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
}

.message-content-header .contact-username{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 5px;
}

.message-content-header .contact-username h4{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #333;
    margin: 0;
    padding: 0;
}

.message-content-header .contact-username span, .message-content-header .active-time{
    font-weight: 400;
    font-size: 14px;
    color: #8a8a8a;
    line-height: 150%;
    letter-spacing: 0.03em;
    font-family: var(--second-family);
    margin: 0;
    padding: 0;
}

.last-seen-text.hidden{
    display: none;
}

.writing-text.hidden{
    display: none;
} 
.writing-text {
  color: #0177ff;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.message-content-header .contact-functional-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.message-content-header .contact-functional-panel .img-button{
    width: 44px;
    aspect-ratio: 1/1;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.message-content-header .contact-functional-panel .icon{
    width: 20px;
}

.message-content-header .contact-functional-panel .search-icon{
    width: 24px;
}

.message-content-header .contact-functional-panel .new-order{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #04b70a;
    border-radius: 5px;
    padding: 8px 20px; 
    height: 44px;
    background: #04b70a;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.message-content-header .contact-functional-panel .green-plus-icon{
    width: 16px;
}


.messenger-content .messaging-blocked{
    flex-shrink: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    background: #f7f9fc;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #8a8a8a;
}

.messenger-content .messaging-blocked.hidden{
    display: none;
}

.messenger-content .control-panel{
    flex-shrink: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    height: 70px;
}

.messenger-content .control-panel.hidden{
    display: none;
}

.control-panel .attach-container{
    width: 48px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.attach-container img{
    width: 24px;
    aspect-ratio: 1/1;
}

.control-panel textarea{
    flex: 1;
    height: 100%;
    width: 100%;
    border: 0;
    resize: none;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #252525;
    text-align: left;
    padding-top: 17px;
}

.control-panel-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
}

.control-panel-buttons .cp-button{
    width: 48px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.control-panel-buttons .cp-button .cp-icon{
    width: 24px;
    aspect-ratio: 1/1;
}

.send-message-button{
    width: 60px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.send-message-button img{
    width: 36px;
}

.control-panel textarea:focus{
    border: 0;
    outline: none; 
}

.messenger-content .messages-container{
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
}

.messenger-content .messages-wrapper{
    flex: 1;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    min-height: 100%;
}

.messages-container .time-message-container{ 
    widtH: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.messages-container .time-message{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: #333;
    padding: 10px 20px;
}

.messages-container .custom-line{
    border-top: 1px solid #e2e2e2;
    background: #e2e2e2;
    opacity: 0.5;
    width: 100%;
}

.messages-container .custom-message{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.custom-message .cm-avatar-container{
    border: 1px solid #f6f6f6;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.custom-message .cm-avatar-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    position: relative;
}

.custom-message .cm-username-and-message{
    display: flex;
    flex-direction: column; 
    gap: 0; 
    flex: 1;
}

.custom-message .cm-username-and-message h4{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    color: #333;
}

.custom-message .cm-username-and-message .cm-message{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #333;
    margin: 0;
    padding: 0;
}

.custom-message .cm-username-and-message .cm-message a{
    color: #177de5;
    text-decoration: none;
    cursor: pointer;
}

.custom-message .cm-time{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.custom-message .cm-time .sent-time{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #8a8a8a;
    margin: 0;
    padding: 0;
}
/*end of messenger-content*/

/*stickers-block*/
.stickers-block{
    position: absolute;
    padding-bottom: 80px;
    right: 30px; 
    max-height: 70%;
    bottom: 0;
    width: 300px;
    height: 640px;
    max-width: 100%;
    display: none;
}

.stickers-block:hover{
    display: block;
}

.stickers-container{
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: #fff;
    padding: 15px;
    box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 8px;
}

.stickers-container h3{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #74767e;
    margin: 0;
    padding: 0;
}

.stickers-wrapper{
    height: 90%;
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    padding-top: 10px;
} 

.stickers-wrapper img{
    cursor: pointer;
    position: relative;
    width: 100%;
}

.open-stickers-block:hover .stickers-block{
    display: block;
}
/*end of stickers-block*/
/*end of messenger-container content*/

/*modal-blocks*/
.order-suggestion-modal-block,
.individual-order-suggestion-modal-block,
.phone-modal-block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

.order-suggestion-modal-container,
.individual-order-suggestion-modal-container{
    width: 720px;
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 100%;
    overflow-y: auto;
}

.order-suggestion-header,
.individual-order-suggestion-header{
    padding: 20px 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.05), 0 1px 8px 0 rgba(0, 0, 0, 0.13);
    background: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);
}

.order-suggestion-header h3,
.individual-order-suggestion-header h3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 127%;
    color: #111;
    margin: 0;
    padding: 0;
}

.order-suggestion-header .x-close-icon,
.individual-order-suggestion-header .x-close-icon{
    width: 40px;
    cursor: pointer;
}

.order-suggestion-description,
.individual-order-suggestion-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 24px;
    gap: 5px;
}

.order-suggestion-description p,
.individual-order-suggestion-description p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #333;
    margin: 0;
    padding: 0;
} 

.order-suggestion-text-container,
.individual-order-suggestion-text-container{
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.order-suggestion-text-container label,
.individual-order-suggestion-text-container label{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: #111;
}

.order-suggestion-text-container textarea,
.individual-order-suggestion-text-container textarea{
    width: 100%;
    height: 240px;
    resize: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #999;
    padding: 9px 12px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
}

.order-suggestion-text-length,
.individual-order-suggestion-text-length{
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #8a8a8a;
    margin-top: 5px;
}

.order-suggestion-modal-container .select-service-and-num-container{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 24px;
    margin-top: 10px;
    gap: 16px;
}

.order-suggestion-modal-container .select-service-container,
.order-suggestion-modal-container .select-num-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.order-suggestion-modal-container label,
.individual-order-suggestion-modal-container label{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: #111;
}

.order-suggestion-modal-container .select-service-container select,
.individual-order-suggestion-modal-container .select-service-container select{
    width: 100%;
    padding: 12px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #8a8a8a;
}

select:focus{
    outline: none;
}

.order-suggestion-modal-container .select-num-container input{
    width: 100%;
    padding: 12px;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #8a8a8a;
}

.submit-order-suggestion-modal,
.submit-individual-order-suggestion-modal{
    max-width: 100%;
    border: 1px solid #04b70a;
    border-radius: 6px;
    padding: 20px;
    width: 200px !important;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 71%;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 25px;
    display: inline-block;
    background: #04b70a;
    max-width: 90%;
    color: white !important;
    cursor: pointer;
    opacity: 0.9;
}

.submit-order-suggestion-modal:hover,
.submit-individual-order-suggestion-modal:hover{
    opacity: 1;
}


.order-suggestion-modal-container .modal-footer,
.individual-order-suggestion-modal-container .modal-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: #333;
    padding: 15px 24px;
    background: rgba(23, 125, 229, 0.06);
}

.order-suggestion-modal-container .modal-footer a,
.individual-order-suggestion-modal-container .modal-footer a{
    color: #177de5;
    border-bottom: 1px dashed #177de5;
    padding: 0px 0px 1px;
    text-decoration: none;
}

.order-suggestion-modal-block.hidden,
.individual-order-suggestion-modal-block.hidden{
    display: none;
}

.individual-order-suggestion-modal-block .modal-form-inputs{
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.individual-order-suggestion-modal-block .modal-form-input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.individual-order-suggestion-modal-block select{
    width: 330px;
    max-width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #8a8a8a;
    height: 40px;
    padding: 0 12px;
}

.individual-order-suggestion-modal-block label{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    color: #111;
    text-align: left;
}

.individual-order-suggestion-modal-block input{
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #8a8a8a;
}

.individual-order-suggestion-modal-block .input-with-icon-container{
    display: flex;
    width: 330px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid #a5a5a5;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #8a8a8a;
    padding: 0 12px;
    height: 40px;
    gap: 5px;
}

#select-deadline{
    border: 0;
    padding-left: 0;
}

/*phone-modal-block*/
.phone-modal-block .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.phone-modal-block .modal {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  position: relative;
}

.phone-modal-block .modal-header-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}

.phone-modal-block .modal-header-icons .green-shield-icon{
    width: 48px;
    aspect-ratio: 1/1;
}

.phone-modal-block .modal-header-icons .x-close-icon{
    width: 24px;
    aspect-ratio: 1/1; 
    cursor: pointer;
}

.phone-modal-block .modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.phone-modal-block .modal h3 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #181d27;
    margin: 0;
    padding: 0;
}

.phone-modal-block .modal p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #535862;
}

.phone-modal-block .rules {
  margin-top: 16px;
}

.phone-modal-block .rules label {
    display: block;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #414651;
    margin-top: 5px;
}

.phone-modal-block .buttons {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}


.phone-modal-block .btn-cancel {
    background-color: #fff;
    color: #333;
    border: 1px solid #d5d7da;
    border-radius: 8px;
    padding: 10px 18px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #414651;
    cursor: pointer;
}

.phone-modal-block .btn-cancel:hover{
    background-color: #ddd;
}

.phone-modal-block .btn-accept {
    box-shadow: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
    background: #04b70a;
    border: 1px solid #04b70a;
    border-radius: 8px;
    padding: 10px 18px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.phone-modal-block .btn-accept:hover{
    opacity: 1;
}

.phone-modal-block.hidden{
    display: none;
}

/*end of phone-modal-block*/
/*end of modal-blocks*/
