* {
  box-sizing: border-box;
}

.mobile-navigation-menu .menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: all 0.3s ease;
  overflow-y: auto;
}

.mobile-navigation-menu .hidden {
  display: none;
}

.mobile-navigation-menu button, .mobile-navigation-menu .mobile-menu-nav-link{
    padding: 10px;
    padding-left: 0;
    border: 0;
    text-align: left;
    cursor: pointer;
    font-family: var(--font6);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #62646a;
    background: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#menu-main .mobile-menu-nav-link,
#menu-main button{
    justify-content: flex-start !important;
}

.mobile-navigation-menu .menu-icon{
    width: 20px;
}

.mobile-navigation-menu .menu-icon.back{
    width: 19px;
    background: none;
}


.mobile-navigation-menu .back {
  font-weight: bold;
  background-color: #eaeaea;
}

.mobile-navigation-menu .header {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f2f1f0;
    border-radius: 8px;
    min-height: 42px;
    padding: 10px;
}

.mobile-navigation-menu .header h3{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin: 0;
    padding: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

.phone-header.menu-activated{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    max-width: 260px;
    height: calc(100% - 142px);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    background: #fff;
}

.phone-header .close-menu-icon{
    display: none;
}

.phone-header.menu-activated .close-menu-icon{
    display: block;
}

.phone-header.menu-activated .burger-icon{
    display: none;
}

.phone-header .mobile-navigation-menu{
    display: none;
}

.phone-header.menu-activated .mobile-navigation-menu{
    display: block;
    height: 100%;
}

.phone-header .mobile-navigation-menu #menu-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.phone-header .mobile-navigation-menu #menu-main.hidden{
    display: none;
}

#menu-main .main-menu-search-and-login{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 12px;
    background: #fff;
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 10px;
}

#menu-main .main-menu-search-and-login .main-menu-login-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #222;
    border: 1px solid #e3eaef;
    border-radius: 8px;
    padding: 12px 10px;
}

#menu-main .main-menu-search-and-login .main-menu-search-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #222;
    opacity: 0.7;
    border: 1px solid #e3eaef;
    border-radius: 8px;
    padding: 12px 10px;
    min-height: 40px;
    background: rgba(227, 234, 239, 0.46);
}

#menu-main .main-menu-search-and-login .main-menu-search-container input[type='text']{
    background: none;
}

#menu-main .main-menu-links{
    width: 100%;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
}

#menu-main .main-menu-links>*{
    width: 100%;
}

#menu-main .need-help-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    padding: 12px 10px;
    background: #f3f6f8;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    gap: 10px;
}

#menu-main .need-help-container .need-help-question{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #000;
    margin: 0;
    padding: 0;
}

#menu-main .need-help-container .need-help-button{
    width: 100%;
    background: #fff;
    border: 1px solid #e5ecf1;
    border-radius: 8px;
    padding: 10px 8px;
    min-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.phone-header.menu-activated .mobile-search-block{
    display: none;
}

#menu-categories .catalog-elem{
    width: 100%;
    display: grid;
    grid-template-columns: 54px 1fr 16px;
    gap: 12px;
    padding-top: 6px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ededed;
}

#menu-categories .catalog-elem-img-container img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-categories .catalog-elem-next-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-categories .catalog-elem-name{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#menu-categories .catalog-elem-name h4{
    margin: 0;
    padding: 0;
    font-family: var(--font9);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #0a0614;
}

#menu-categories .catalog-elem-name p{
    margin: 0;
    padding: 0;
    font-family: var(--font13);
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #0a0614;
}
